@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap");

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
.book__published {
  span {
    color: grey;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  body {
    font-family: "Raleway", sans-serif;
    font-size: 1em;
  }

  h1 {
    font-size: 30px;
    line-height: 44px;
    font-family: "Raleway", sans-serif;
    color: $BookWorm;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin: 0;
  }

  h3 {
    font-size: 22px;
    line-height: 24px;
    margin: 0;
  }

  h4 {
    font-size: 20px;
    line-height: 22px;
    margin: 0;
  }

  h5 {
    font-size: 12px;
    line-height: 20px;
  }

  p {
    // margin-bottom: 3%;
    line-height: 250%;
  }
  a {
    text-decoration: none;
  }

  .scroll-picto {
    width: 16px;
    height: 24px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    position: absolute;
    bottom: 40px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    display: block;
    width: 140px;
    height: 30px;
    background-color: $BookWorm;
    border-color: $BookWorm;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 6%;

    &:hover {
      background-color: #ffffff;
      color: $BookWorm;
    }
  }
  #read {
    display: block;
    width: 140px;
    height: 30px;
    background-color: #ffff;
    color: $BookWorm;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid $BookWorm;

    &:hover {
      background-color: $BookWorm;
      color: white;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
  }

  h1 {
    font-size: 36px;
    line-height: 44px;
    font-family: "Raleway", sans-serif;
    margin: 0;
    color: $BookWorm;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
    margin: 0;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }

  h4 {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
  }

  h5 {
    font-size: 12px;
    line-height: 20px;
  }

  p {
    margin-bottom: 2%;
    line-height: 180%;
  }
  a {
    text-decoration: none;
  }

  .scroll-picto {
    width: 16px;
    height: 24px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    position: absolute;
    bottom: 40px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    display: block;
    width: 240px;
    height: 50px;
    background-color: $BookWorm;
    border-color: $BookWorm;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 6%;

    &:hover {
      background-color: #ffffff;
      color: $BookWorm;
    }
  }
  #read {
    display: block;
    width: 250px;
    height: 50px;
    background-color: #ffff;
    color: $BookWorm;
    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid $BookWorm;

    &:hover {
      background-color: $BookWorm;
      color: white;
    }
  }
}
@media (min-width: 1024px) {
  body {
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
  }

  h1 {
    font-size: 36px;
    line-height: 44px;
    font-family: "Raleway", sans-serif;
    margin: 0;
    color: $BookWorm;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
    margin: 0;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }

  h4 {
    font-size: 22px;
    line-height: 22px;
    margin: 0;
  }

  h5 {
    font-size: 12px;
    line-height: 20px;
  }

  p {
    margin-bottom: 2%;
    line-height: 180%;
  }
  a {
    text-decoration: none;
  }

  .scroll-picto {
    width: 16px;
    height: 24px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    position: absolute;
    bottom: 40px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    display: block;
    width: 240px;
    height: 50px;
    background-color: $BookWorm;
    border-color: $BookWorm;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 6%;

    &:hover {
      background-color: #ffffff;
      color: $BookWorm;
    }
  }
  #read {
    display: block;
    width: 250px;
    height: 50px;
    background-color: #ffff;
    color: $BookWorm;
    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid $BookWorm;

    &:hover {
      background-color: $BookWorm;
      color: white;
    }
  }
}
